<h3>Blog Categories</h3>
<div id="blog-categories">
  <ul class="list-group">
    {% assign sorted_categories = site.categories | sort %}
    {% assign first_level_categories = "" %}
    
    {% for category in sorted_categories %}
      {% assign category_id = category | first | split: '/' %}
      {% assign current_first_part = category_id[0] %}

      {% unless first_level_categories contains current_first_part %}
        {% assign first_level_categories = first_level_categories | append: current_first_part | append: ',' %}
        <li class="list-group-item">
          <a href="#{{ current_first_part }}">{{ current_first_part }}</a>
          <span class="badge">{{ category[1] | size }}</span>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>





<script type="text/javascript">

  $(document).ready(function(){
    $("#blog-categories li").css('text-transform','capitalize')
  });

</script>




