
<h3>Blog Categories</h3>
<div id="blog-categories">
  <ul class="list-group">
    {% assign sorted_categories = site.categories | sort %}
    {% assign prev_first_part = "" %}
    {% assign prev_second_part = "" %}

    {% for category in sorted_categories %}
      {% assign category_id = category | first | split: '/' %}
      {% assign current_first_part = category_id[0] %}
      {% assign current_second_part = category_id[1] %}

      {% if current_first_part != prev_first_part %}
        <li class="list-group-item">
          <a href="#{{ current_first_part }}">{{ current_first_part }}</a>
          <span class="badge">{{ category[1].size }}</span>
        </li>
        {% assign prev_first_part = current_first_part %}
        {% assign prev_second_part = "" %}
      {% endif %}
      
      <li class="list-group-item">
        <a href="#{{ current_first_part }}-{{ current_second_part }}">{{ current_second_part }}</a>
        <span class="badge">{{ category[1].size }}</span>
      </li>

      {% assign prev_second_part = current_second_part %}
    {% endfor %}
  </ul>
</div>



