<h3>Blog Categories</h3>
<div id="blog-categories">
  <ul class="list-group">
    {% assign sorted_categories = site.categories | sort %}
    {% assign total_count = 0 %}

    {% for category in sorted_categories %}
      {% assign category_id = category | first | split: '/' %}
      {% assign current_first_part = category_id[0] %}

      {% assign total_count = total_count | plus: category[1] | size %}

      <li class="list-group-item">
        <a href="#{{ current_first_part }}">{{ current_first_part }}</a>
        <span class="badge">{{ total_count }}</span>
      </li>
    {% endfor %}
  </ul>
</div>



<script type="text/javascript">

  $(document).ready(function(){
    $("#blog-categories li").css('text-transform','capitalize')
  });

</script>




